.intro-video-box {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.intro-video-box .video-image img {
    width: 100%;
    aspect-ratio: 1/0.4;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.intro-video-box:hover .video-image img {
    transform: scale(1.1);
}

.intro-video-box .video-image a {
    cursor: default;
}

.video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.video-play-button a {
    position: relative;
    background-color: var(--accent-color);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.video-play-button a:before {
    content: "";
    position: absolute;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
    border: 50px solid var(--divider-color);
    border-radius: 50%;
    transform: scale(0.6);
    z-index: -1;
    animation: border-zooming 1.2s infinite linear;
}

.video-play-button a:after {
    content: "";
    position: absolute;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
    border: 50px solid var(--divider-color);
    border-radius: 50%;
    transform: scale(0.6);
    z-index: -1;
    animation: border-zooming 1.2s infinite linear;
    animation-delay: 0.3s;
}

@keyframes border-zooming {
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.video-play-button a i {
    font-size: 40px;
    color: var(--white-color);
}

/* small span for password */
.char-count {
    background-color: #4bbbce;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
}

.char-count.exceeded {
    background-color: #ff324d !important;
}

.upload-img-info {
    background-color: #ffff19;
    color: #000;
    padding: 2px 8px;
    border-radius: 3px;
}

/* iframe */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* iframe map contact */

.map-contact-container {
    width: 100%;
    height: 500px; /* Sesuaikan dengan tinggi yang diinginkan */
}

.map-contact-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Preview Image  */
#imagePreview {
    width: 100%; /* Sesuaikan ukuran sesuai kebutuhan */
    max-width: 300px; /* Maksimal lebar gambar */
    height: auto; /* Otomatis sesuaikan tinggi gambar */
    display: none; /* Sembunyikan gambar sebelum diunggah */
    margin-top: 10px;
}
#fileSize {
    margin-top: 10px;
    display: none; /* Sembunyikan ukuran file sebelum diunggah */
}
#errorMessage {
    color: red;
    display: none;
    margin-top: 10px;
}

/* table paragraf text */
.data-table-text-justify {
    text-align: justify;
}

.large-sweetalert {
    width: 90% !important;
    max-width: 1200px;
}

.card-custom-hov {
    transition: all 0.6s ease;
}

.card-custom-hov:hover {
    box-shadow: rgba(0, 134, 197, 0.199) -4px 4px,
        rgba(0, 134, 197, 0.19) -10px 10px;
}
